.divider {
    width: 5px;
    border-radius: 3px;
}

.title {
    font-family: 'Abhaya Libre SemiBold', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: normal;
}

.description {
    font-family: 'Abhaya Libre', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: normal;

    color: rgba(255, 255, 255, 0.6);
}

.title.done{
    text-decoration: line-through;
}

.switchThumb {
    height: 24px;
    width: 24px;
    background: #F4F4F4;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

