.marquee {
    margin-top: 20px;
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);

    position: fixed;
    bottom: 28px;
    max-width: 390px;

    background-color: #222222;
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);

    animation: scroll linear infinite;
    animation-duration: 10s;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}